
body{
	background-color: #B4CFEC;
}

#taskWarning{
	color: red;
	display: none;
	font-style: italic;
	margin: 0;
}

#taskUl{
	background-color: #fff;
	padding: 5px;
	width: 500px;
	list-style-type: none;
}

li{
	padding: 10px 10px 30px 10px;
}

li:nth-child(even){
	background-color: #eee;
}

h3{
	font-size: 18px;
	margin: 5px;
}

p {
	text-align:right;
}

p:before{
	content: "Due Date: ";
}

.Average h3{
	color: black;
}

.High h3{
	color: red;
}

.Low h3{
	color: green;
}

.due{
	display: block;
	color: gray;
	font-size: 14px;
	font-style: italic;
	text-align: right;
}

.complete .due{
	color: white;
}


.completed{
	float: right;
}


.complete{
	background-color: #0066FF !important;
	color: white;
}

.complete .completed, .complete p{
	display: none;
}

.delete{
	float: left;
	clear: left;
}



